input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.order {
  width: 60%;
  margin: 0 auto; }
  .order .orderselect {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 40px; }
    .order .orderselect label {
      display: block;
      width: 40%; }
      .order .orderselect label select {
        width: 100%;
        outline: none;
        padding: 5px 10px;
        margin-top: 10px;
        font-size: 16px; }
        .order .orderselect label select option {
          font-size: 16px; }
  .order .start {
    padding: 15px 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    background-color: #7552cc;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer; }
  .order .start:hover {
    background-color: #24249c;
    transform: scale(1.1); }
  .order .start:disabled {
    background-color: gray;
    transform: scale(1);
    cursor: default; }
  .order .scsButton {
    background-color: #009f4d;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 0;
    width: 15%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 30px; }
  .order .check {
    display: flex;
    gap: 20px;
    font-weight: 400;
    margin-bottom: 20px; }
  .order .scsButton:hover {
    background-color: #087a40; }
  .order .add {
    padding: 10px 20px;
    background-color: #00c16e;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer; }
  .order .add:hover {
    background-color: #009f4d; }
  .order .add:disabled {
    background-color: gray;
    cursor: default; }
  .order form {
    display: flex;
    flex-direction: column;
    gap: 20px; }
    .order form label {
      display: block;
      width: 100%;
      justify-content: space-between; }
      .order form label span {
        display: inline-block; }
      .order form label select {
        margin-left: 10px;
        padding: 5px;
        font-size: 18px;
        width: 80%;
        outline: none;
        border: 1px solid #1e1e7a; }
        .order form label select option {
          width: 90%; }
      .order form label input {
        margin-left: 10px;
        outline: none;
        padding: 5px;
        font-size: 20px;
        width: 20%;
        border: none; }
    .order form .amountinfo {
      display: flex;
      gap: 20px;
      color: #009f4d;
      font-weight: 500;
      font-size: 20px; }
  .order .orderlist {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    border: 1px dashed gray;
    padding: 20px 10px;
    gap: 15px; }
    .order .orderlist span {
      display: block;
      width: 14%;
      text-align: center; }
    .order .orderlist .listheader {
      display: flex;
      gap: 10px;
      font-weight: 600; }
    .order .orderlist .listitem {
      display: flex;
      gap: 10px;
      font-weight: 400; }
      .order .orderlist .listitem span:last-child {
        color: red;
        cursor: pointer; }
      .order .orderlist .listitem #cooking {
        background-color: #009f4d;
        color: white;
        padding-top: 5px; }
      .order .orderlist .listitem #canceling {
        background-color: #ed1b2e;
        color: white;
        padding-top: 5px; }
    .order .orderlist .end,
    .order .orderlist .close {
      background-color: red;
      padding: 10px 20px;
      width: 25%;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      color: white;
      cursor: pointer; }
    .order .orderlist .end:hover {
      background-color: #ed1b2e; }
    .order .orderlist .footer {
      display: flex;
      justify-content: space-between; }
      .order .orderlist .footer p {
        font-size: 20px;
        font-weight: 600; }

@media screen and (max-width: 700px) {
  .order {
    width: 95%; }
    .order .start {
      padding: 10px;
      margin-top: 10px;
      font-size: 16px;
      margin-left: 10px; }
    .order .orderselect {
      gap: 20px;
      padding: 0 10px; }
      .order .orderselect label select {
        width: 90%; }
        .order .orderselect label select option {
          font-size: 14px; }
    .order form label select {
      margin-top: 5px;
      margin-left: 0;
      font-size: 14px; }
    .order .orderlist {
      gap: 10px;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 30px;
      padding: 10px 0; }
      .order .orderlist .listitem #cooking,
      .order .orderlist .listitem #canceling {
        padding-top: 5px;
        font-size: 12px;
        height: 30px; }
      .order .orderlist .end {
        padding: 10px 5px;
        font-size: 14px;
        width: 20%; }
      .order .orderlist .footer {
        padding: 0 10px; }
        .order .orderlist .footer .scsButton {
          width: 30%; } }

/*# sourceMappingURL=style.css.map */
